<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
</head>
<body>
<% include index.ejs%>
<!-- <center><h2 style="color:red">
	ERROR!!!
</h3></center> -->
<center><h3 style="color: red"><%= result%></h3></center>
<center><h2 style="color:blue">
	TRY AGAIN!!!
</h3></center>
</body>
</html>