<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="headerstyles.css">
   <!-- <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script> -->
   <title>AssisDent</title>
</head>
<body style="background-color: #F0FFFF">

<div id='cssmenu'>
<ul>
   <li><a href='/PersonalDetails'><span>New Record</span></a></li>
   <li class='active has-sub'><a href='#'><span>Patient Records</span></a>
      <ul>
            <li><a href='/details'><span>Details By OP Number</span></a></li>
            <li><a href='/s'><span>Details By Query</span></a></li>
            <li><a href='/agequery'><span>Details by Age and Gender</span></a></li>
      </ul>
   </li>
   <li><a href="/allrecords"><span>All Patient Records</span></a></li>
   <li class='active has-sub'><a href='#'><span>Contact</span></a>
      <ul>
            <li><a href='#'><span>Principal</span></a></li>
            <li><a href='#'><span>Vice Principal</span></a></li>
      </ul>
   </li>
   <li style="float:right"><a href='index.html'><span>Logout</a></li>
</ul>
</div>
</body>
<html>
