<!DOCTYPE html>
<html>
<head>
	<title>AssisDent</title>
</head>
<body>
	<% include index.ejs%>
<center><div id="header"><img src="logo3.png"   height=200 align="centre"></div>
<p>
	Welcome To AssisDent.
</p>
</center>
</body>
</html>