<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>AssisDent</title>
</head>
<body>
	<table style=" border: 1px solid black;border-collapse: collapse;" class="table table-striped">
		<thead><h3>POSTOPERATION DETAILS</h3></thead>
			<tbody>
				<tr>
					<td style=" border: 1px solid black;"><input type="checkbox" name="po" value="po5" onclick="showDiv(81)" >Temporary Restoration 
						<div id="div81" style="display:none;">
							<input type ="radio" name="po5" value="Immediate temporization">Immediate temporization<br>
							<input type ="radio" name="po5" value="Delayed temporization">Delayed temporization<br></td>
						</div>
					</td>
					<td style=" border: 1px solid black;"><input type="checkbox" name="po" value="po6" onclick="showDiv(82)" >Loading protocal
						<div id="div82" style="display:none;">
							<input type ="radio" name="po6" value="Immediate Loading">Immediate Loading<br>
							<input type ="radio" name="po6" value="Early Loading">Early Loading<br>
							<input type ="radio" name="po6" value="Delayed Loading">Delayed Loading<br>
							<input type ="radio" name="po6" value="Progressive Loading">Progressive Loading<br>
						</div>
					</td>
					<td style=" border: 1px solid black;"><input type="checkbox" name="po" value="po7" onclick="showDiv(83)" >Type of Prosthesis
						<div id="div83" style="display:none;">
							<input type ="radio" value="Removable" name="po7">Removable<br>
							<input type ="radio" value="Screw Retained" name="po7">Screw Retained<br>
							<input type ="radio" value="Cement Retain" name="po7">Cement Retain<br>
							<input type ="radio" value="Splinted" name="po7">Splinted<br>
							<input type ="radio" name="po7" value="Non Splinted">Non Splinted<br>
						</div>
					</td>
					<td style=" border: 1px solid black;"><input type="checkbox" name="po" value="po8" onclick="showDiv(84)" >Material of Prosthesis
						<div id="div84" style="display:none;">
							<input type ="radio" value="Metal" name="po8">Metal<br>
							<input type ="radio" value="Ceramic" name="po8">Ceramic<br>
							<input type ="radio" value="Metal Ceramic" name="po8">Metal Ceramic<br>
							<input type ="radio" value="Acrylic" name="po8">Acrylic<br>
							<input type ="radio" value="Zirconia" name="po8">Zirconia<br>
						</div>
					</td>
					<td style=" border: 1px solid black;"><input type="checkbox" name="po" value="po9" onclick="showDiv(85)" >Type of Abutment
						<div id="div85" style="display:none;">
							<input type ="radio" value="Solid Abutment" name="po9">Solid Abutment<br>
							<input type ="radio" value="Straight Abutment" name="po9">Straight Abutment<br>
							<input type ="radio" value="Angle Abutment" name="po9">Angle Abutment<br>
							<input type ="radio" value="UCLA Abutment" name="po9">UCLA Abutment<br>
							<input type ="radio" value="Multi-unit Abutment" name="po9">Multi-unit Abutment<br>
						</div>
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" name="po" value="po1">Fracture of implant</td>
					<td><input type="checkbox" name="po" value="po2">Infection</td>
					<td><input type="checkbox" name="po" value="po3">Excess Load</td>
					<td colspan="2"><input type="checkbox" name="po" value="po4">Excess insertion torque</td>
				</tr>
			</tbody>
	</table>
</body>
</html>

